<%- include('../../partials/head') %>
  <body class="bg-light">
    <%- include('../../partials/top-navbar') %> 
    <div class="container-fluid pt-4 px-md-0 p-4">
      <!-- This is floating menu  -->
      <div id="floating1" class="opacity-0 pointer-events-none absolute top-0 right-0 h-screen flex w-full justify-center items-start bg-black/40 z-50 transition-all duration-75 ease-in" aria-colindex="1">
      </div>
      <!-- End of floating menu  -->

      <div class="row">
        <%- include('../partials/left-sidebar') %> 
        <div class="col-md-7 text-justify">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-12">
                <span class="h2 d-block">Wating for Review</span>
              </div>
            </div>

            <div class="flex flex-col justify-start items-start gap-y-4 py-4 w-full" data-paperList>
              <div class="w-full h-16 flex justify-center items-center">
                <div class="spinner-border text-primary" role="status"></div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../../partials/right-sidebar') %> 
      </div>
    </div>

    <script>
      const paperListContainer = document.querySelector('[data-paperList]');
      var data = [], page = 0, limit = 20, total = 0, totalPage = 0;

      function renderPaperList(){
        paperListContainer.innerHTML = '';
        var renderableData = data.slice(page * limit, (page + 1) * limit);

        if(renderableData.length == 0){
          return paperListContainer.innerHTML = `
            <div class="w-full h-16 flex justify-center items-center">
              <span class="text-xl font-semibold">No paper found</span>
            </div>
          `;
        }

        renderableData.forEach(item => {
          const paperList = document.createElement('div');
          paperList.classList.add("bg-light", "border", "border-gray-300", "px-3", "py-2", "flex", "flex-col", "justify-start", "items-start", "w-full", "rounded-sm");
          paperList.innerHTML = `
                <div class="bg-dark text-white text-sm font-semibold mt-2 px-2 py-1 rounded">Paper ID: ${item.id}</div>
                <h1 class="text-xl">${item.title}</h1>
                <h3 class="text-xl font-extralight">${item.paper_author}</h3>
                <div class="flex justify-start items-center gap-2 mb-2">
                  <span>Reviewer: </span>
                  <span class="bg-info px-3 py-1 rounded text-white">${item.reviewer_name}</span>
                </div>

                <div class="btn-group w-full" role="group" aria-label="Basic example">
                  <a href="/uploads/papers/${item.file_url}" download role="button" type="button" class="btn bg-sky-600 hover:bg-sky-700 transition-all duration-150 ease-in text-white/90 hover:text-white"><i class="fa-solid fa-download"></i> <span class="hidden lg:inline-block ml-1"> Download File</span></a>
                  <a href="/uploads/papers/${item.file_url}" target="_blank" role="button" type="button" class="btn bg-yellow-500 hover:bg-yellow-600 transition-all duration-150 ease-in text-yellow-900"><i class="fa-solid fa-eye"></i> <span class="hidden lg:inline-block ml-1"> View File</span></a>
                </div>
          `;
          paperListContainer.appendChild(paperList);
        });
      }

      function fetchData(){
        fetch('/admin_panel/waiting_for_review/list')
          .then(res => res.json())
          .then(res => {
            data = res;
            renderPaperList();
          }).catch(err => {
            alert(err)
          })
      }

      fetchData();
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="/js/floating-menu-v.1.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
