<html>
    <head>
        <style type='text/css'>
            body, html {
                margin: 0;
                padding: 0;
            }
            body {
                color: black;
                display: table;
                font-family: Georgia, serif;
                font-size: 24px;
                text-align: center;
            }
            .container {
                border: 20px solid #618597;
                width: 750px;
                height: 563px;
                display: table-cell;
                vertical-align: middle;
            }
            .logo {
                color: #618597;
            }

            .marquee {
                color: #618597;
                font-size: 48px;
                margin: 20px;
            }
            .assignment {
                margin: 20px;
            }
            .person {
                border-bottom: 2px solid black;
                font-size: 32px;
                font-style: italic;
                margin: 20px auto;
                width: 400px;
            }
            .reason {
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                Bangladesh Veterinary Journal
            </div>

            <div class="marquee">
                Active Reviewer
            </div>

            <div class="assignment">
                This certificate is presented to
            </div>

            <div class="person">
                <%- reviewer %>
            </div>

            <div class="reason">
                For reviewing <%- total_review %> papers<br/>
                successfuly.
            </div>
        </div>
    </body>
</html>
