<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <title>BVJ</title>
  </head>

  <body class="bg-light">
    <div class="container-fluid" id="header">
      <div id="hamburger" class="d-none">
        <i class="fas fa-bars"></i>
      </div>
      <div class="row">
        <div class="col-md-9 d-flex">
          <img src="static/images/logo.png" alt="" class="" id="logo-image" />
          <div class="text-left text-white pl-2">
            <a href="/" id="title">Bangladesh Veterinary Journal</a>
            <i class="d-block">
              An Official Journal of Bangladesh Veterinary Association
            </i>
          </div>
        </div>
        <div class="col-md-3 text-md-right text-center text-white py-2">
          <h6>pISSN 0378-8113</h6>
          <h6>eISSN 2708-6054</h6>
          <div class="float-md-right mx-md-">
            <a href="login.html" class="btn btn-sm btn-outline-light">Login</a>
            <a href="register.html" class="btn btn-sm btn-outline-light"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-4 px-md-0 p-4">
      <div class="row">
        <div class="col-md-2" id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="editorial.html">Editorial Board</a></li>
            <li>
              <a class="" href="articles.html"> View Articles </a>
            </li>
            <li class="active"><a href="guide.html">Guide for Authors</a></li>
            <li><a href="submit.html">Submit Your Paper</a></li>
            <li><a href="#">Indexing</a></li>
            <li><a href="track.html">Track your paper</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-7 text-justify">
          <span class="h2 d-block">Guide for Author</span>
          <p>
            Authors must declare that the article is not published (part or
            whole except in the form of an abstract, a published lecture or
            academic thesis) elsewhere. Each author is required to declare his
            or her individual contribution to the research and/or article
            preparation.The statement that all authors have approved the final
            article should be true and included in the disclosure. Authors are
            expected to consider carefully the list and order of authors before
            submitting their manuscript and provide the definitive list of
            authors at the time of the original submission. Any addition,
            deletion or rearrangement of author names in the authorship list
            should be made after approvalof the journal Editor. For changing
            corresponding authorship, the Editor must receive a request
            mentioning the reason for the change in author list and a written
            confirmation (e-mail/letter) from all authors that they agree with
            the addition, removal or rearrangement. Authors must declare to
            follow the copywrite policy of the journal. Permission of the
            Publisher is required for resale, translations or compilations of
            published article.
          </p>

          <a href="http://bvj-bva.org/files/Declaration-form-for-BVJ.docx"
            >Download Declaration Form</a
          >
          <br />
          <a href="http://bvj-bva.org/files/Model-article.pdf"
            >Download Model Article</a
          >
          <br />
          <br />
          <b>Manuscript preparation</b>
          <p>
            The manuscript should be in the following sequence: abstract and
            keywords, introduction, materials and methods, results, discussion,
            acknowledgments, conflict of interest, references. All materials
            must be written in proper and clear English.
          </p>

          <p>
            <i>Title:</i> Style Book Antiqua, Bold, 12 point font
            <br />
            <i>Author/s:</i> Book Antiqua , normal 10 point font (Maximum 8
            name)
            <br />
            <i>Affiliation:</i> Book Antiqua , normal 10 ppt
            <br />
            <i>Corresponding author:</i> e-mail:-
            <br />
            <i>Abstract:</i> Style Book Antiqua , normal 10 point font (Maximum
            250 words)
            <br />
            <i>Key words:</i> Maximum 6
          </p>

          <p>
            <b>Introduction, Materials and methods, Results and Discussion:</b>
            The manuscript including tables and their footnotes, and figure
            legends, must be typed out in Double space, standard 11 point font
            in Book Antiqua style (For final accepted manuscript single space,
            standard 11 point font, Book Antiqua style).
          </p>

          <p>
            <b>References:</b> The number of references should be less than
            forty (40) for original article and fifteen (15) for short
            communication and case report. If possible DOI should be added with
            the references. Follow the styles shown in the example below:
          </p>

          <p>
            <b>Reference to a journal article:</b> Powell DW, Mifflin RC,
            Valentich JD, Crowe SE, Saada JI, West AB, 1999. Myofibroblasts. II.
            Intestinal subepithelial myofibroblasts. The American Journal of
            Physiology 277: C183-201. doi:10.1016/j.heliyon.2018.e00205
          </p>

          <p>
            <b>Reference to a conference paper:</b> Powell DW, Mifflin RC,
            Valentich JD, Crowe SE, Saada JI, West AB, 1999Name of conference,
            page number of proceeding abstract.
          </p>

          <p>
            <b>Reference to a book:</b> Mettam GR, Adams LB. How to prepare an
            electronic version of your article. In: Jones BS, Smith RZ, editors.
            Introduction to the electronic age, New York: E-Publishing Inc;
            2009, p. 281–304.
          </p>

          <p>
            <b>Reference to a website:</b> Cancer Research UK. Cancer statistics
            reports for the UK, http://www.cancerresearchuk.org/
            aboutcancer/statistics/cancerstatsreport/; 2003
          </p>

          <p>
            <b>Publication charge:</b> The BVJ will charge the publication cost
            to manuscript submitted as bellows.
            <br />
            From Bangladeshi corresponding authors: 2500 BD TK
            <br />
            From foreign corresponding authors: ＄32
          </p>

          <p>
            If there is any query concerning manuscript submission,
            <a href="contact.html">contact</a> by e-mail to the Editor of BVJ.
          </p>
        </div>
        <div class="col-md-3 bg-ad">
          <div class="pr-2">
            <div class="card bg-primary d-block">
              <div class="card-header">
                <h4 class="text-light">Announcement</h4>
              </div>
              <div class="card-body bg-light">
                <span class="d-block">
                  Dear Veterinarians and researchers, you are invited to submit
                  your valuable research works/findings in Bangladesh Veterinary
                  Journal. Please <a href="/newpaper.html">click here </a> to
                  submit your paper.
                </span>
              </div>
            </div>
            <h3>Ad Will be shown here</h3>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
