<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <title>BVJ</title>
</head>

<body class="bg-light">
    <div class="container-fluid" id="header">
        <div id="hamburger" class="d-none">
            <i class="fas fa-bars"></i>
        </div>
        <div class="row">
            <div class="col-md-9 d-flex">
                <img src="static/images/logo.png" alt="" class="" id="logo-image" />
                <div class="text-left text-white pl-2">
                    <a href="/" id="title">Bangladesh Veterinary Journal</a>
                    <i class="d-block">
                        An Official Journal of Bangladesh Veterinary Association
                    </i>
                </div>
            </div>
            <div class="col-md-3 text-md-right text-center text-white py-2">
                <h6>pISSN 0378-8113</h6>
                <h6>eISSN 2708-6054</h6>
                <div class="float-md-right mx-md-">
                    <a href="login.html" class="btn btn-sm btn-outline-light">Login</a>
                    <a href="register.html" class="btn btn-sm btn-outline-light">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4 px-md-0 p-4">
        <div class="row">
            <div class="col-md-2" id="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="editorial.html">Editorial Board</a></li>
                    <li>
                        <a class="" href="articles.html"> View Articles </a>
                      </li>
                    <li><a href="guide.html">Guide for Authors</a></li>
                    <li><a href="submit.html">Submit Your Paper</a></li>
                    <li><a href="#">Indexing</a></li>
                    <li><a href="track.html">Track your paper</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-7 text-justify">
                <span class="h2 d-block pb-4">Editorial Board</span>
                <p>
                <h3 class="text-center"><u>Editor</u></h3>
                <b>Professor Nasrin Sultana Juyena, PhD</b>
                <br>
                Department of Surgery and Obstetrics, Faculty of Veterinary Science
                <br>
                Bangladesh Agricultural Science, Mymensingh-2202, Bangladesh
                </p>
                <br>
                <h3 class="text-center"><u>Editorial Board members (International)</u></h3>
                <p>
                    <b>Professor Dr. Calogero Stelletta</b>
                    <br>
                    Department of Reproduction and Artificial Insemination, Faculty of Veterinary Medicine,
                    <br>
                    Ankara University, 06110 Dışkapı, Ankara, Turkey
                </p>
                <p>
                    <b>Dr. T.K.Datta Ph.D.</b>
                    <br>
                    Principal Scientist (Animal Biotechnology), Genomics Lab, Animal Biotechnology Centre
                    <br>
                    National Dairy Research Institute, Karnal 132001 Haryana India
                </p>

                <br>
                <h3 class="text-center"><u>Editorial Board members (National)</u></h3>
                <p>
                    <b>Professor Dr. Emdadul Haque Chowdhury</b>
                    <br>
                    Department of Pathology, Faculty of Veterinary Science
                    <br>
                    Bangladesh Agricultural Science, Mymensingh-2202, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Mohammad Musharraf Uddin Bhuiyan </b>
                    <br>
                    Department of Surgery and Obstetrics, Faculty of Veterinary Science
                    <br>
                    Bangladesh Agricultural Science, Mymensingh-2202, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Md. Taohidul Islam</b>
                    <br>
                    Department of Medicine,Faculty of Veterinary Science
                    <br>
                    Bangladesh Agricultural Science, Mymensingh-2202, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Md. Tanvir Rahman </b>
                    <br>
                    Department of Microbiology and Hygiene, Faculty of Veterinary Science
                    <br>
                    Bangladesh Agricultural Science, Mymensingh-2202, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Md. Mahmudul Hasan Sikder</b>
                    <br>
                    Department of Pharmacology, Faculty of Veterinary Science
                    <br>
                    Bangladesh Agricultural Science, Mymensingh-2202, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Paritosh Kumar Biswas </b>
                    <br>
                    Department of Microbiology and Veterinary Public Health,Faculty of Veterinary Medicine
                    <br>
                    Chittagong Veterinary and Animal Sciences University, Chittagong-4225, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Md. Matiar Rahman Howlader</b>
                    <br>
                    Department of Physiology, Faculty of Veterinary, Animal and Biomedical Sciences
                    <br>
                    Sylhet Agricultural University, Syhet-3100, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Md. Mostafizer Rahman </b>
                    <br>
                    Department of Microbiology, Faculty of Veterinary and Animal Science
                    <br>
                    Hajee Mohammad Danesh Science and Technology University, Dinajpur-5200, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. A N M Aminoor Rahman</b>
                    <br>
                    Department of Gynecology, Obstetrics & Reproductive Health, Faculty of Veterinary Medicine and
                    Animal Science
                    <br>
                    Bangabandhu Sheikh Mujibur Rahman Agricultural University, Gazipur, Bangladesh
                </p>

                <p>
                    <b>Professor K. M. Mozaffor Hossain</b>
                    <br>
                    Department of Veterinary and Animal Science, Faculty of Agriculture
                    <br>
                    University of Rajshahi,Rajshahi, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Mohammad Rohul Amin</b>
                    <br>
                    Department of Physiology and Pharmacology, Faculty of Animal Science and Veterinary Medicine
                    <br>
                    Patuakhali Science and Technology University, Patuakhali, Bangladesh
                </p>

                <p>
                    <b>Professor Dr. Md. Rafiqul Alam</b>
                    <br>
                    Ex-Editor
                    <br>
                    Bangladesh Veterinary Journal, Bangladesh Veterinary Association
                </p>

            </div>
            <div class="col-md-3 bg-ad ">
                <div class="pr-2">
                    <div class="card bg-primary d-block">
                        <div class="card-header">
                            <h4 class="text-light">Announcement</h4>
                        </div>
                        <div class="card-body bg-light">
                            <span class="d-block">
                                Dear Veterinarians and researchers, you are invited to submit
                                your valuable research works/findings in Bangladesh Veterinary
                                Journal. Please <a href="/newpaper.html">click here </a> to submit
                                your paper.
                            </span>
                        </div>
                    </div>
                    <h3>Ad Will be shown here</h3>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>