<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <title>BVJ</title>
  </head>

  <body class="bg-light">
    <div class="container-fluid" id="header">
      <div id="hamburger" class="d-none">
        <i class="fas fa-bars"></i>
      </div>
      <div class="row">
        <div class="col-md-9 d-flex">
          <img src="static/images/logo.png" alt="" class="" id="logo-image" />
          <div class="text-left text-white pl-2">
            <a href="/" id="title">Bangladesh Veterinary Journal</a>
            <i class="d-block">
              An Official Journal of Bangladesh Veterinary Association
            </i>
          </div>
        </div>
        <div class="col-md-3 text-md-right text-center text-white py-2">
          <h6>pISSN 0378-8113</h6>
          <h6>eISSN 2708-6054</h6>
          <div class="float-md-right mx-md-">
            <a href="login.html" class="btn btn-sm btn-outline-light">Login</a>
            <a href="register.html" class="btn btn-sm btn-outline-light"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-4 px-md-0 p-4">
      <div class="row">
        <div class="col-md-2" id="nav">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="editorial.html">Editorial Board</a></li>
            <li>
              <a class="" href="articles.html"> View Articles </a>
            </li>
            <li><a href="guide.html">Guide for Authors</a></li>
            <li><a href="submit.html">Submit Your Paper</a></li>
            <li><a href="#">Indexing</a></li>
            <li><a href="track.html">Track your paper</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-7 text-justify">
          <span class="h2 d-block">Bangladesh Veterinary Journal</span>
          <p>
            <i>Bangladesh Veterinary Journal(BVJ)</i> is a peer-reviewed journal
            encompasses all aspects of veterinary research and medicine of
            domestics, wild and lab animals and birds including aquatic
            medicine. With the glorious and revolutionary birth of Bangladesh,
            the Bangladesh veterinary Journal is also born. It is the official
            journal published by Bangladesh Veterinary Association (BVA), but
            welcomes submissions from veterinary researchers worldwide. BVJ
            publishes research articles, review articles and clinical cases or
            case studies that has never been published and is not currently
            being considered for publication elsewhere.BVJ is dedicated to bring
            into publication original research articles, review articles, case
            reports, Brief communications and letter to editor from veterinary
            scientists of our country and abroad. <br /><br />
            <b>Editor:</b> Professor Nasrin Sultana Juyena, PhD

            <br /><br />
            <b>SCOPES:</b>
            <br />
            BVJ publishes articles on a wide range of topics of basic and
            applied researches in
          </p>
          <ul>
            <li>Food safety and public health</li>
            <li>Zoonosis, one health and AMR</li>
            <li>Epidemiology and risk analysis</li>
            <li>
              Veterinary Bio-medical Sciences (Anatomy, Histology, Embryology,
              genetic and breeding, physiology and immunology
            </li>
            <li>
              Veterinary Pathobiology (Microbiology, Parasitology, Pathology)
            </li>
            <li>Nutrition and Metabolic diseases</li>
            <li>
              Food animal Veterinary practices (Medicine, Surgery and
              Theriogenology)
            </li>
            <li>Avian medicine and biosecurity</li>
            <li>Economy of Animal Health</li>
            <li>
              Animal Health Communication (extension, education and community
              service)
            </li>
          </ul>
          <br />
          <b>Peer-review policy</b>
          <p>
            BVJ operates a double-blind peer-review system, where the reviewers
            and the authors are not aware of the names and affiliation of each
            other. Submissions are initially assessed by the editor. Manuscripts
            will then be reviewed by two experts who will be asked to evaluate
            whether the manuscript is scientifically sound for publication.
          </p>
        </div>
        <div class="col-md-3 bg-ad">
          <div class="pr-2">
            <div class="card bg-primary d-block">
              <div class="card-header">
                <h4 class="text-light">Announcement</h4>
              </div>
              <div class="card-body bg-light">
                <span class="d-block">
                  Dear Veterinarians and researchers, you are invited to submit
                  your valuable research works/findings in Bangladesh Veterinary
                  Journal. Please <a href="/newpaper.html">click here </a> to
                  submit your paper.
                </span>
              </div>
            </div>
            <h3>Ad Will be shown here</h3>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
