<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <title>BVJ</title>
  </head>

  <body class="bg-light">
    <div class="container-fluid" id="header">
      <div id="hamburger" class="d-none">
        <i class="fas fa-bars"></i>
      </div>
      <div class="row">
        <div class="col-md-9 d-flex">
          <img src="static/images/logo.png" alt="" class="" id="logo-image" />
          <div class="text-left text-white pl-2">
            <a href="/" id="title">Bangladesh Veterinary Journal</a>
            <i class="d-block">
              An Official Journal of Bangladesh Veterinary Association
            </i>
          </div>
        </div>
        <div class="col-md-3 text-md-right text-center text-white py-2">
          <h6>pISSN 0378-8113</h6>
          <h6>eISSN 2708-6054</h6>
          <div class="float-md-right mx-md-">
            <a href="login.html" class="btn btn-sm btn-outline-light">Login</a>
            <a href="register.html" class="btn btn-sm btn-outline-light">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-4 px-md-0 p-4">
      <div class="row">
        <div class="col-md-2" id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="editorial.html">Editorial Board</a></li>
            <li>
              <a class="" href="articles.html"> View Articles </a>
            </li>
            <li><a href="guide.html">Guide for Authors</a></li>
            <li><a href="submit.html">Submit Your Paper</a></li>
            <li><a href="#">Indexing</a></li>
            <li><a href="track.html">Track your paper</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-7 pb-4 text-justify d-flex align-items-center justify-content-center">
          <div class="card rounded max-width-400">
            <div class="card-body">
              <h2 class="text-center textBlue">Login</h2>
              <hr class="w-50 mx-auto bgLightBlue" />
              <form action="#">
                <div class="form-group">
                  <label for="email">
                    <i class="fas fa-envelope textBlue"></i> Email
                  </label>
                  <input type="text" class="form-control" id="email" required />
                </div>
                <div class="form-group">
                  <label for="password">
                    <i class="fas fa-lock textBlue"></i> Password
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    required
                  />
                </div>
                <div class="form-group d-flex justify-content-center">
                  <input
                    type="submit"
                    value="Login Now"
                    class="btn btn-primary w-50"
                  />
                </div>
                <div class="form-group d-block">
                  <div class="row">
                    <div class="col-12">
                      <span class="text-right d-block">
                        <a href="#">Forget password</a>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
              <h6 class="text-center pb-3">
                Don't have an account. <a href="register.html">Register now</a>
              </h6>
            </div>
          </div>
        </div>
        <div
          class="col-md-3 bg-ad "
        >
          <div class="">
            <div class="card bg-primary d-block">
              <div class="card-header">
                <h4 class="text-light">Announcement</h4>
              </div>
              <div class="card-body bg-light">
                <span class="d-block">
                  Dear Veterinarians and researchers, you are invited to submit
                  your valuable research works/findings in Bangladesh Veterinary
                  Journal. Please <a href="/newpaper.html">click here </a> to submit
                  your paper.
                </span>
              </div>
            </div>
            <h3>Ad Will be shown here</h3>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
