<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/bootstrap.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <title>BVJ</title>
  </head>

  <body class="bg-light">
    <div class="container-fluid" id="header">
      <div id="hamburger" class="d-none">
        <i class="fas fa-bars"></i>
      </div>
      <div class="row">
        <div class="col-md-9 d-flex">
          <img src="static/images/logo.png" alt="" class="" id="logo-image" />
          <div class="text-left text-white pl-2">
            <a href="/" id="title">Bangladesh Veterinary Journal</a>
            <i class="d-block">
              An Official Journal of Bangladesh Veterinary Association
            </i>
          </div>
        </div>
        <div class="col-md-3 text-md-right text-center text-white py-2">
          <h6>pISSN 0378-8113</h6>
          <h6>eISSN 2708-6054</h6>
          <div class="float-md-right mx-md-">
            <a href="login.html" class="btn btn-sm btn-outline-light">Login</a>
            <a href="register.html" class="btn btn-sm btn-outline-light"
              >Register</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-4 px-md-0 p-4">
      <div class="row">
        <div class="col-md-2" id="nav">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="editorial.html">Editorial Board</a></li>
            <li>
              <a class="" href="articles.html"> View Articles </a>
            </li>
            <li><a href="guide.html">Guide for Authors</a></li>
            <li><a href="submit.html">Submit Your Paper</a></li>
            <li><a href="#">Indexing</a></li>
            <li><a href="track.html">Track your paper</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-7 text-justify">
          <span class="h2 d-block">Effects of two anaesthetic combinations (xylazine-ketamine and
            xylazine-propofol) on clinical and hematobiochemical profile in
            dogs</span>
          <div class="submission_paper" style="background: none">
            
            <div class="text-center h5 font-weight-lighter" >
              MM Kamal, P Mishra, MA Akter, M Hasan, MA Hashim
            </div>
            <div class="text-left">
                <span class="font-weight-bolder">Volume no— 53 </span> <br /><br />
            </div>
            <span class="font-weight-bolder">Abstract—</span> The research was conducted to
            evaluate the effects of two anaesthetic combinations
            (Xylazine-Ketamine and Xylazine-Propofol) on clinical and
            hemato-biochemical profile in dogs. A total of 12 dogs, apparently
            healthy, age 2-3 years and weighing 12-17 kg were used and randomly
            grouped into two; X-K (Xylazine @1.1mg/kg IM-Ketamine @10mg/kg IM)
            and X-P (Xylazine @1.1mg/kg IM-Propofol 2mg/kg IV). Animals were
            permitted for the anaesthetic procedure after 2-3 days of
            acclimatization. Clinical parameters such as body temperature (C),
            pulse rate (beats/min), respiratory rate (breaths/min.), oxygen
            saturation (SpO2, %), hematological profile; hemoglobin (Hb, %),
            total erythrocyte count (TEC, 106/mm3), total leucocyte count (TLC,
            103mm3), packed cell volume (PCV, %) and, serum biochemical profile;
            aspartate aminotransferase (AST, IU/L), alanine aminotransferase
            (ALT, IU/L), bilirubin (mg/dL), creatinine (mg/dL), blood urea
            nitrogen (BUN, mg/dL), triglyceride (TG, mg/dL) and cholesterol
            (mg/dL) were recorded and evaluated before 0 minute and after 10,
            20, 30, 40 minutes after anesthesia in individual animal. Rectal
            temperature, Respiratory rate and SpO2 decreased initially at 10 min
            after induction. It then increased towards the pre-anaesthetics
            level in both groups. Pulse rate increased initially, and this was
            decreased gradually towards baseline in both groups. In both groups,
            haematological values altered after induction with both the
            combinations and returned to near the baseline when the animal
            recovered utterly (12 hrs post-induction). Serum biochemical
            analysis showed that ALT, AST, bilirubin, creatinine, BUN, TG and
            cholesterol level seriously altered initially after 10 min of
            induction. In some instances (ALT, AST and TG) the changes continued
            up to the wake up of animals. They then gradually returned to the
            initial value. Results of the study reveal that the anaesthetics
            combination of Xylazine-Ketamine and Xylazine-Propofol exert some
            systemic effect in body compromising vital organs at a certain
            level. <br /><br />
            <span class="font-weight-bolder">Keywords—</span>
            Anesthesia, Dog, Xylazine,
            Ketamine, Propofol. <br /><br />
            <span class="font-weight-bolder">Additional Information—</span>
            <br /><br />
            <span class="font-weight-bolder">Comments—</span>
            <br />
          </div>
        </div>
        <div class="col-md-3 bg-ad">
          <div class="pr-2">
            <div class="card bg-primary d-block">
              <div class="card-header">
                <h4 class="text-light">Announcement</h4>
              </div>
              <div class="card-body bg-light">
                <span class="d-block">
                  Dear Veterinarians and researchers, you are invited to submit
                  your valuable research works/findings in Bangladesh Veterinary
                  Journal. Please <a href="/newpaper.html">click here </a> to
                  submit your paper.
                </span>
              </div>
            </div>
            <h3>Ad Will be shown here</h3>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
