<%- include('../../partials/head') %>
  <body class="bg-light">
    <%- include('../../partials/top-navbar') %> 
    <div class="container-fluid pt-4 px-md-0 p-4">
      <!-- This is floating menu  -->
      <div id="floatingmenu" class="opacity-0 pointer-events-none max-h-max fixed top-0 right-0 h-screen flex w-full justify-center items-start bg-black/40 z-50 transition-all duration-75 ease-in" aria-colindex="1">
      </div>
      <!-- End of floating menu  -->


      <!-- This is success animation modal  -->
      <div id="success" class="opacity-0 pointer-events-none fixed top-0 right-0 h-screen flex w-full justify-center items-center bg-black/40 z-50 transition-all duration-75 ease-in">
      </div>
      <!-- End of success animation modal  -->

      <div class="row">
        <%- include('../partials/left-sidebar') %> 
        <div class="col-md-7 text-justify">
          <div class="card card-body">
            <div class="row">
              <div class="col-md-12">
                <span class="h2 d-block">Sent Back to Author Papers</span>
              </div>
            </div>


            <!-- Here all the paper will be listed  -->
            <div class="flex flex-col justify-start items-start gap-y-4 py-4 w-full" data-paperListContainer>
              <div class="w-full h-16 flex justify-center items-center">
                <div class="spinner-border text-primary" role="status"></div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../../partials/right-sidebar') %> 
      </div>
    </div>

    <script src="/js/floating-success-menu.js" type="module"></script>
    <script type="module">
      import { showSuccessMenu, showSuccessMessage, showErrorMessage } from "/js/floating-success-menu.js";
      const paperListContainer = document.querySelector('[data-paperListContainer]');
      const floatingMenu = document.querySelector('#floatingmenu');
      var data = [], page = 0, limit = 20, total = 0, totalPage = 0, reviewObj = {};

      function reviewModalHTML(){
        return `<div class="relative bg-white mt-20 w-2/3 pb-4 rounded overflow-auto">
              <div class="absolute top-3 right-2 z-30">
                <button class="bg-danger h-6 w-6 rounded-sm text-white focus:outline-none" data-close-btn><i class="fa-solid fa-times"></i></button>
              </div>

              <div>
                <div class="alert alert-primary" role="alert">
                  <h5 class="h5">Read Reviews</h5>
                </div>
                <div class="px-4 flex flex-col justify-start items-start gap-2">
                  <div class="bg-gray-100 px-3 py-2 rounded relative w-full">
                    <div>
                      <strong>Review No:</strong> 1
                    </div>
                    <div>
                      <strong>Reviewer Name:</strong> ${reviewObj.reviewer}
                    </div>
                    <div>
                      <strong>Comments:</strong> ${reviewObj.comment}
                    </div>
                    <div>
                      <strong>Review Files:</strong> ${reviewObj.files_url.split(',').map((file, index) => {
                        return `<a href="/uploads/papers/${file}" download class="text-primary mr-2">Download File(${ index + 1 })</a>`
                      }).join('')}
                    </div>
                  </div>
                </div>
              </div>
            </div>`;
      }

      function addToVolumeModalHTML(paper_id){ 
        return `<div class="bg-white w-1/3 py-3 rounded relative mt-10">
          <div class="flex justify-between items-center px-3 pb-3 border-b border-gray-300">
            <span class="text-2xl font-medium">Add to Volume</span>
            <button class="btn btn-light" data-close-btn aria-colindex="1"><i class="fa-sharp fa-solid fa-xmark"></i></button>
          </div>

          <div class="form-group px-3 mt-4">
            <label for="typeSelect"> Volume </label>
            <select class="custom-select mr-sm-2" id="typeSelect" required>
              <option value="" selected>
                Select Volume
              </option>
              <option value="item">item</option>
            </select>
          </div>

          <div class="px-3">
            <button class="btn btn-primary">Add</button>
          </div>

          <div class="px-3 flex justify-end items-center border-t border-gray-300 mt-4 pt-3">
            <button class="btn btn-danger" data-close-btn aria-colindex="1">Close</button>
          </div>
        </div>`;
      }

      function renderPaper(){
        paperListContainer.innerHTML = '';
        var renderableData = data.slice(page * limit, (page + 1) * limit);

        if(renderableData.length == 0){
          return paperListContainer.innerHTML = `
            <div class="w-full h-16 flex justify-center items-center">
              <span class="text-xl font-semibold">No paper found</span>
            </div>
          `;
        }
        
        renderableData.forEach(item => {
          const paperList = document.createElement('div');
          paperList.classList.add("bg-light", "border", "border-gray-300", "px-3", "py-2", "flex", "flex-col", "justify-start", "items-start", "w-full", "rounded-sm");
          paperList.innerHTML = `
            <h1 class="text-xl">${item.title}</h1>
            <h3 class="text-xl font-extralight">${item.paper_author}</h3>
            <div class="bg-dark text-white text-sm font-semibold my-2 px-2 py-1 rounded">Paper ID: ${item.paper_id}</div>
            <div class="btn-group w-full" role="group" aria-label="Basic example">
              <a href="/uploads/papers/${item.file_url}" download role="button" type="button" class="btn bg-sky-600 hover:bg-sky-700 transition-all duration-150 ease-in text-white/90 hover:text-white"><i class="fa-solid fa-download"></i> <span class="hidden lg:inline-block ml-1"> Download File</span></a>
              <a href="/uploads/papers/${item.file_url}" target="_blank" role="button" type="button" class="btn bg-yellow-500 hover:bg-yellow-600 transition-all duration-150 ease-in text-yellow-900"><i class="fa-solid fa-eye"></i> <span class="hidden lg:inline-block ml-1"> View File</span></a>
              <button type="button" aria-label="${item.paper_id}" class="btn bg-success text-white/90 hover:text-white/80 transition-all duration-150 ease-in" data-read-review-btn><i class="fa-solid fa-book"></i> Read Reviews</button>
            </div>
          `;
          paperListContainer.appendChild(paperList);
        });

        /* Add to volume Button */
        const addToVolumeBtn = document.querySelectorAll('[data-add-to-volume]');
        addToVolumeBtn.forEach(btn => {
          btn.addEventListener('click', (e) => {
            /* Opens the review modal */
            floatingMenu.classList.remove('opacity-0', 'pointer-events-none');
            floatingMenu.innerHTML = addToVolumeModalHTML(btn.getAttribute('aria-label'));

            /* Close the review modal */
            const closeBtns = document.querySelectorAll('[data-close-btn]');
            closeBtns.forEach((item) => {
              item.addEventListener('click', (e) => {
                floatingMenu.classList.add('opacity-0', 'pointer-events-none');
                floatingMenu.innerHTML = '';
              });
            })
          })
        });
        /* End Add to volume btn */

        /* read reviews button */
        const readReviewBtn = document.querySelectorAll('[data-read-review-btn]');
        readReviewBtn.forEach(btn => {
          btn.addEventListener('click', (e) => {
            const paper_id = btn.getAttribute('aria-label');
            /* Opens the review modal */
            floatingMenu.classList.remove('opacity-0', 'pointer-events-none');
            floatingMenu.innerHTML = `<div class="relative bg-white mt-20 w-2/3 pb-4 rounded overflow-auto">
              <div class="absolute top-3 right-2 z-30">
                <button class="bg-danger h-6 w-6 rounded-sm text-white focus:outline-none" data-close-btn><i class="fa-solid fa-times"></i></button>
              </div>

              <div>
                <div class="alert alert-primary" role="alert">
                  <h5 class="h5">Read Reviews</h5>
                </div>
                
                <div class="px-4 h-10 flex flex-col justify-center items-center gap-2">
                  <div class="spinner-grow text-primary" role="status">
                  </div>
                </div>
              </div>
            </div>`;

            fetch(`/api/review/${paper_id}`)
            .then(res => res.json())
            .then(res => {
              if(res.success){
                reviewObj = res.data;
                floatingMenu.innerHTML = reviewModalHTML();
                /* Close the review modal */
                const closeBtn = document.querySelector('[data-close-btn]');
                closeBtn.addEventListener('click', (e) => {
                  floatingMenu.classList.add('opacity-0', 'pointer-events-none');
                  floatingMenu.innerHTML = '';
                  reviewObj = {};
                });
              }
            })

            /* Close the review modal */
            const closeBtn = document.querySelector('[data-close-btn]');
            closeBtn.addEventListener('click', (e) => {
              floatingMenu.classList.add('opacity-0', 'pointer-events-none');
              floatingMenu.innerHTML = '';
            });
          })
        });
        /* End read reviews button */


        /* Send back to author button */
        const sendBackToAuthorBtn = document.querySelectorAll('[data-send-back-to-author-btn]');
        sendBackToAuthorBtn.forEach((item) => {
          item.addEventListener('click', (e) => {
            fetch('/admin_panel/reviewed_paper/send_back_to_author', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json;charset=utf-8',
              },
              body: JSON.stringify({
                paper_id: item.getAttribute('aria-label'),
              }),
            })
              .then((res) => res.json())
              .then((res) => {
                if (res.success) {
                  showSuccessMenu();
                  showSuccessMessage(res.message);
                  fetchPaper();
                } else {
                  showSuccessMenu();
                  showErrorMessage(res.message);
                }
              });
          })
        });
      }
      const fetchPaper = () => {
        return fetch('/admin_panel/sent_back_to_author/list')
          .then((res) => res.json())
          .then(res => {
            data = res;
            renderPaper();
        });
      }

      fetchPaper();
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="/js/floating-menu-v.1.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
